.snakemake
__pycache__/
log
log.txt*
out
*.swp
profiles/*
#res/data/*
res/data/prot
res/downloads/*
#res/conf/comet/*
res/conf/subsets/*
!res/conf/comet/comet.params.orbitrap.conf
tmp
jdk*
launch.sh
logs_slurm
